testserver
test*.py
!test/*.py
twisted/plugins/dropin.cache
*.pyc
*.sublime-*
.idea
resources/mark2.properties
config
build
dist
_*/
*.py[cod]
*.egg
*.egg-info
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64
pip-log.txt
.coverage
.tox
nosetests.xml
*.mo
.mr.developer.cfg
.project
.pydevproject
.settings
.*.swp